<% include _layouts/header %>
        <% if(typeof cart !== "undefined") { %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

</script>
<body class="grey lighten-3">



  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="mb-5 h2">My cart</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="POST" action="/cart/buy">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">
                  <!--firstName-->
                  <div class="md-form ">
                    <input  required type="text" id="firstName" class="form-control" name="fName" value="<%= user.username %>">
                    <label for="firstName" class="">First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">
<div class="md-form">
                    <input type="text" id="lastName" class="form-control" name="lName"  required>
                    <label for="lastName" class="">Last name</label>

                </div>
                </div>
                  <!--lastName-->
                  
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--email-->
              <div class="md-form mb-5">
                <input name="email" type="email" id="email" class="form-control" value="<%= user.email %>" readonly>
                <label for="email" class="">Email (optional)</label>
              </div>

              <!--address-->
              <div class="md-form mb-5">
                <input name="address" type="text" id="address" class="form-control"  required>
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                <input type="text" id="address-2" name="address2" class="form-control">
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

                <div class="md-form mb-5">
                <input type="number" id="address-2"  name="number" class="form-control">
                <label for="" class="">Phone number:</label>
              </div>

              <hr>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info" disabled>
                <label class="custom-control-label disabled" for="save-info" >Save this information for next time</label>
              </div>
                <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea form-control" name="notes" rows="3"></textarea>
                <label for="form7">Notes:</label>
                </div>
              <hr>

              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" value="CREDIT CARD" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="debit" name="paymentMethod" value="CASH" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="debit">Cash</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" value="PAYPAL" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
              </div>
              
              <div class="row "  id="card">
              
                <div class="col-md-12 mb-3">

                  <div class=" ">
        <div class="card">
				  	<div class="card-header">
				    	<div class="row">
							<div class="col-md-5 col-12 pt-2">
								<h6 class="m-0"><strong>Payment Details</strong></h6>
							</div>
							<div class="col-md-7 col-12 icons">
								<i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
								<i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
								<i class="fa fa-cc-discover fa-2x" aria-hidden="true"></i>
								<i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
							</div>
						</div>
				  	</div>
				  	<div class="card-body">
						  	<div class="form-group">
						      	<label for="validationTooltipCardNumber"><strong>CARD NUMBER</strong></label>
						      	<div class="input-group">
						        	<input type="text" class="form-control border-right-0" id="validationTooltipCardNumber" placeholder="Card Number">
						        	<div class="input-group-prepend">
						          		<span class="input-group-text rounded-right" id="validationTooltipCardNumber"><i class="fa fa-credit-card"></i></span>
						        	</div>
						      </div>
						  	</div>
						  	<div class="row">
						  		<div class="col-md-8 col-12">
						  			<div class="form-group">
								    	<label for="exampleInputExpirationDate"><strong>EXPIRATION DATE</strong></label>
								    	<input type="text" class="form-control" id="exampleInputExpirationDate" placeholder="MM / YY">
									</div>
						  		</div>
							  	<div class="col-md-4 col-12">
							  		<div class="form-group">
									    <label for="exampleInputCvcCode"><strong>CVC CODE</strong></label>
									    <input type="text" class="form-control" id="exampleInputCvcCode" placeholder="CVC">
									</div>
							  	</div>
						  	</div>
						  	<div class="form-group">
						    	<label for="exampleInputCouponCode"><strong>COUPON CODE</strong></label>
						    	<input type="text" class="form-control" id="exampleInputCouponCode" placeholder="Coupon Code">
						  	</div>
				  	</div>
				</div>
            <div class="row">
                <div class="col-md-3 mb-3">
                </div>
                <div class="col-md-3 mb-3">
                </div>
              </div>
              <hr class="mb-4">
              
    </div>
                </div>
                
              </div>
              <button class="btn btn-primary btn-lg btn-block"><i class="fa fa-lock"></i> Submit order</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill"><%= cart.length%></span>
            
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            
            
            <% var total = 0 ;%>
            <% cart.forEach(function(product) { %>
                <% var sub = parseFloat(product.qty * product.price).toFixed(2) %>
                <% total += +sub %>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
              
                        

                <h6 class="my-0"><%= product.title %></h6>
                <small class="text-muted">x<%= product.qty %>:  <%= product.price %> TND</small>
                <a href="/cart/update/<%= product.title %>?action=add"><i class="fas fa-plus-circle"></i></a>&nbsp;

                        <a href="/cart/update/<%= product.title %>?action=remove"><i class="fas fa-minus-circle"></i></a>&nbsp;
|
                        <a href="/cart/update/<%= product.title %>?action=clear"><i style="color: red" class="fas fa-times-circle"></i></a>&nbsp;
              </div>
              <span class="text-muted"><%= sub %> TND</span>
            </li>
            <% }); %>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong><%= parseFloat(total).toFixed(2) %> TND</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2">
                <a class="btn btn-danger btn-md waves-effect btn-block" href="/cart/clear">Clear cart</a>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
    
<style>
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: 'Open sans', sans-serif;
}


/*--------------------
Buttons
--------------------*/
.btn {
  display: block;
  background: #bded7d;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
}
.btn::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.btn:hover::after {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

/*--------------------
Form
--------------------*/
.form fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}
.form fieldset.fieldset-expiration {
  float: left;
  width: 60%;
}
.form fieldset.fieldset-expiration .select {
  width: 84px;
  margin-right: 12px;
  float: left;
}
.form fieldset.fieldset-ccv {
  clear: none;
  float: right;
  width: 86px;
}
.form fieldset label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Inconsolata;
}
.form fieldset input,
.form fieldset .select {
  width: 100%;
  height: 38px;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}
.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
  width: 82px;
  display: inline-block;
  margin-right: 8px;
}
.form fieldset input.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
  margin-right: 0;
}
.form fieldset .select {
  position: relative;
}
.form fieldset .select::after {
  content: '';
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 10px;
  pointer-events: none;
}
.form fieldset .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  outline: none !important;
  top: 6px;
  left: 6px;
  background: none;
}
.form fieldset .select select :-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.form button {
  width: 100%;
  outline: none !important;
  background: linear-gradient(180deg, #49a09b, #3d8291);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  box-shadow: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 90px;
}
.form button .fa {
  margin-right: 6px;
}

/*--------------------
Checkout
--------------------*/
.checkout {
  margin: 150px auto 30px;
  position: relative;
  width: 460px;
  background: white;
  border-radius: 15px;
  padding: 160px 45px 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

/*--------------------
Credit Card
--------------------*/
.credit-card-box {
  -webkit-perspective: 1000;
          perspective: 1000;
  width: 400px;
  height: 280px;
}
.credit-card-box:hover .flip, .credit-card-box.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Inconsolata;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("http://cdn.flaticon.com/svg/44/44386.svg") no-repeat center;
  background-size: cover;
  opacity: .05;
}
.credit-card-box .flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}
.credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.credit-card-box .front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.credit-card-box .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 185px;
}
.credit-card-box .chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 8px;
}
.credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 103px;
  left: 19px;
  font-size: 38px;
}
.credit-card-box label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 22px;
  text-transform: capitalize;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}
.credit-card-box .ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}
.credit-card-box .ccv label {
  margin: -25px 0 14px;
  color: #fff;
}

.the-most {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50vw;
  max-width: 200px;
  padding: 10px;
}
.the-most img {
  max-width: 100%;
}

</style>
  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    

    <script>
        $(function(){
            $('a.clearcart').on('click', function(){
                if(!confirm('Confirm clear cart?'))
                    return false;
            });

            $('a.buynow').on('click', function (e) {
                e.preventDefault();

                $.get('/cart/buynow', function () {
                    $('form.pp input[type=image]').click();
                    $('.ajaxBg').show();
                });
            });
        });
    </script>
        <script>

    $('.input-cart-number').on('keyup change', function () {
            $t = $(this);

            if ($t.val().length > 3) {
                $t.next().focus();
            }

            var card_number = '';
            $('.input-cart-number').each(function () {
                card_number += $(this).val() + ' ';
                if ($(this).val().length == 4) {
                    $(this).next().focus();
                }
            })

            $('.credit-card-box .number').html(card_number);
        });

        $('#card-holder').on('keyup change', function () {
            $t = $(this);
            $('.credit-card-box .card-holder div').html($t.val());
        });

        $('#card-holder').on('keyup change', function () {
            $t = $(this);
            $('.credit-card-box .card-holder div').html($t.val());
        });

        $(function() {
            $('input[name=paymentMethod]').on('click init-post-format', function() {
                $('#card').toggle($('#credit').prop('checked'));
            }).trigger('init-post-format');
        });

        $('#card-expiration-month, #card-expiration-year').change(function () {
            m = $('#card-expiration-month option').index($('#card-expiration-month option:selected'));
            m = (m < 10) ? '0' + m : m;
            y = $('#card-expiration-year').val().substr(2, 2);
            $('.card-expiration-date div').html(m + '/' + y);
        })

        $('#card-ccv').on('focus', function () {
            $('.credit-card-box').addClass('hover');
        }).on('blur', function () {
            $('.credit-card-box').removeClass('hover');
        }).on('keyup change', function () {
            $('.ccv div').html($(this).val());
        });


        /*--------------------
        CodePen Tile Preview
        --------------------*/
        setTimeout(function () {
            $('#card-ccv').focus().delay(1000).queue(function () {
                $(this).blur().dequeue();
            });
        }, 500);

/*function getCreditCardType(accountNumber) {
  if (/^5[1-5]/.test(accountNumber)) {
    result = 'mastercard';
  } else if (/^4/.test(accountNumber)) {
    result = 'visa';
  } else if ( /^(5018|5020|5038|6304|6759|676[1-3])/.test(accountNumber)) {
    result = 'maestro';
  } else {
    result = 'unknown'
  }
  return result;
}

$('#card-number').change(function(){
  console.log(getCreditCardType($(this).val()));
})*/

</script>

  </footer>
  </body>
  <!--/.Footer-->
    

    <% } else { %>
        <h3 class="text-center">Your cart is empty.</h3>
    <% } %>

    <script>
        $(function(){
            $('a.clearcart').on('click', function(){
                if(!confirm('Confirm clear cart?'))
                    return false;
            });

            $('a.buynow').on('click', function (e) {
                e.preventDefault();

                $.get('/cart/buynow', function () {
                    $('form.pp input[type=image]').click();
                    $('.ajaxBg').show();
                });
            });
        });
    </script>
<% include _layouts/footer %>