<%- include('./_layouts/header') %>
    <div  class="card card-image" style="height: 240px; background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-5 my-5">
    <div>
      <h2 style="font-size: 70px; margin-top: -60px" class="card-title h1-responsive mb-5"><strong><span class="font-weight-bold">Hello </span><%= user.username %><span class="font-weight-bold"> ! </span></strong></h2>
      <p class="mx-5">Your email: <%= user.email %>
      </p>
    </div>
  </div>
</div>
<br>
    <h2 class="page-title text-center"><%= user.username %><span class=" font-weight-bold">'s order history </span></h2>
    <center>
    <span style="width: 100px; font-size: 30px" class="text-center badge badge-pill badge-danger"><%= lOrder.length %></span>
    </center>
    <hr>
    <table class="table table-sm table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#     </th>
      <th scope="col">Date</th>
      <th scope="col">Payment type</th>
      <th scope="col">Order</th>
    </tr>
  </thead>
  <tbody>
  <% lOrder.forEach(function(order) { %>
     <tr>
      <th scope="row"><%= order.order_id %></th>
      <td><%= order.submit %></td>
      <td><%= order.payment %></td>
      <td><a href="/user/order/<%= order.order_id %>">OPEN</a></td>
    </tr>
  <% }) %>
  </tbody>
</table>
    

<!-- Material form row -->
    
    

    <%- include('./_layouts/footer') %>